project:
  type: website
  output-dir: docs

website:
  title: "Dashboards"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - Penguins.qmd
    right: 
      - icon: github
        href: https://github.com/TallenVidal1
        target: blank

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

